.nav-custom{
    background:#0d0f14;
    border-bottom:1px solid #262b3b;
    padding:18px 0;
}

.nav-custom .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#fff !important;
    font-size:24px;
    font-weight:700;
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
}

.logo:hover{
    color:#fff !important;
}

.logo i{
    color:#0b5ed7;
    font-size:22px;
}

.logout-btn{
    background:none;
    border:none;
    color:#8d94b5;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:15px;
    transition:.2s;
}

.logout-btn:hover{
    color:white;
}